@import "tailwindcss";

@theme {
  --font-supershiny: Super Shiny, ui-monspace, monospace, sans-serif;

  --color-primary: #1e1e1e;
  --color-secondary: #252526;
  --color-primary-accent: #F1E729;
  --color-secondary-accent: #F40C5C;
}

@font-face {
  font-family: Super Shiny;
  src: url("/fonts/SuperShiny.woff2") format("woff2");
}
